# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
vendor/

# Build outputs
dist/
build/
out/
bin/
obj/

# Environment variables (Sensitive Data)
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor folders
.vscode/
.idea/
*.swp
*.swo